html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section{
  display:block;
}

body{
  line-height:1;
}

ol, ul{
  list-style:none;
}

blockquote, q{
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after{
  content:"";
  content:none;
}

table{
  border-collapse:collapse;
  border-spacing:0;
}

.container{
  width:100%;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
}

.media__all{
  color:black;
  background-color:white;
  opacity:0.8;
  text-align:center;
  font-family:Serif, sans-serif;
  font-weight:bold;
  font-size:1.7rem;
  padding:4px;
  position:fixed;
  top:33px;
}
body{
  font-family:Roboto, Verdana, Tahoma, sans-serif;
  margin:0;
  padding:0;
}

.container{
  width:100%;
}

h1{
  font-size:3rem;
  font-weight:bold;
  line-height:78px;
  overflow:auto;
}

h2{
  font-size:2rem;
  font-weight:bold;
  text-align:center;
}

.global-frame{
  width:100%;
  margin:0 auto;
}

.background-color__major{
  background-color:#34547A;
}

.background-color__minor{
  background-color:#EEEFF1;
}

.background-color__weak{
  background-color:#F9F9F9;
}

.header__container{
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
  padding-top:79px;
  padding-bottom:141px;
  padding-left:20%;
}

.header-nav-bar__container{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  gap:5%;
  padding-bottom:162px;
}

.header-nav-bar__list__item a{
  color:black;
  list-style-type:none;
  font-size:1rem;
  font-weight:400;
  line-height:26px;
  text-decoration:none;
  text-transform:uppercase;
  letter-spacing:0.1em;
}

.header-nav-bar__list__item:hover a{
  color:#34547A;
}

.header-title__primary{
  margin-bottom:60px;
}

.header-text__description{
  font-size:1rem;
  line-height:26px;
  font-weight:400;
  color:#727272;
  max-width:540px;
  margin-bottom:65px;
}

.header-button__container{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  width:15%;
  height:65px;
  color:white;
  font-size:0.8rem;
  font-weight:400;
  letter-spacing:0.1em;
  text-align:center;
  text-transform:uppercase;
}

.main-about-me__container{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  padding:112px 0 100px 0;
}

.main-text-content__title{
  margin-bottom:50px;
}

.main-text-content__description{
  max-width:540px;
  margin:0 auto 0 auto;
  color:#727272;
  font-size:1rem;
  font-weight:400;
  line-height:26px;
  text-align:center;
}

.main-projects__container{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  gap:3.55%;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  padding:100px 0;
}

.main-projects__item{
  height:50px;
  background:left no-repeat url(../images/project.svg);
  padding:10px 0 10px 70px;
}

.main-projects__big__text{
  font-size:1.3rem;
  line-height:24px;
  font-weight:400;
  color:white;
}

.main-projects__small__text{
  font-size:1rem;
  line-height:26px;
  font-weight:400;
  color:white;
}

.job__text{
  padding-bottom:50px;
}

.job__video{
  margin:0 auto 0 auto;
}

.footer__container{
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
  padding:50px 33% 50px 33%;
}

.footer__text__author{
  font-size:1rem;
  line-height:24px;
  font-weight:bold;
  color:white;
}

.footer__text__copyright{
  font-size:0.8125rem;
  line-height:21px;
  font-weight:400;
  color:white;
}

@font-face{
  font-family:"Roboto";
  src:url("Hilllel_Fullstack_JS/hillel_fullstack_homework_11/assets/fonts/Roboto-Regular.ttf") format("truetype");
}

@media (min-width: 375px){
  iframe{
    width:90vw;
    height:50vw;
  }
  h1{
    font-size:1.8rem;
    line-height:46.8px;
  }
  h2{
    font-size:1.2rem;
  }
  .header-nav-bar__list__item a{
    font-size:0.6rem;
  }
  .header-text__description{
    font-size:0.6rem;
    margin-bottom:39px;
  }
  .header-button__container{
    font-size:0.6vw;
    width:7.2vw;
    height:3vw;
  }
  .header__container{
    padding-top:47.4px;
    padding-bottom:84.6px;
  }
  .header-nav-bar__container{
    padding-bottom:97.2px;
  }
  .header-title__primary{
    margin-bottom:36px;
  }
  .main-text-content__description{
    font-size:0.6rem;
  }
  .main-about-me__container{
    padding:67.2px 0 60px 0;
  }
  .main-text-content__title{
    margin-bottom:30px;
  }
  .main-projects__container{
    padding:60px 0;
  }
  .main-projects__item{
    padding:6px 0 6px 70px;
  }
  .job__text{
    padding-bottom:30px;
  }
  .footer__container{
    padding:30px 33% 30px 33%;
  }
  .footer__text__author{
    font-size:0.6rem;
    line-height:14.4px;
  }
  .footer__text__copyright{
    font-size:0.4875rem;
    line-height:12px;
  }
  .media__all{
    display:none;
  }
  .media__375{
    display:initial;
    color:brown;
  }
}

@media (min-width: 800px){
  iframe{
    width:90vw;
    height:50vw;
  }
  h1{
    font-size:2.4rem;
    line-height:62.4px;
  }
  h2{
    font-size:1.6rem;
  }
  .header-nav-bar__list__item a{
    font-size:0.8rem;
  }
  .header-text__description{
    font-size:0.8rem;
    margin-bottom:52px;
  }
  .header-button__container{
    font-size:0.8vw;
    width:9.6vw;
    height:4vw;
  }
  .header__container{
    padding-top:63.2px;
    padding-bottom:112.8px;
  }
  .header-nav-bar__container{
    padding-bottom:129.6px;
  }
  .header-title__primary{
    margin-bottom:48px;
  }
  .main-text-content__description{
    font-size:0.8rem;
  }
  .main-about-me__container{
    padding:89.6px 0 80px 0;
  }
  .main-text-content__title{
    margin-bottom:40px;
  }
  .main-projects__container{
    padding:80px 0;
  }
  .main-projects__item{
    padding:8px 0 8px 70px;
  }
  .job__text{
    padding-bottom:40px;
  }
  .footer__container{
    padding:40px 33% 40px 33%;
  }
  .footer__text__author{
    font-size:0.8rem;
    line-height:19.2px;
  }
  .footer__text__copyright{
    font-size:0.65rem;
    line-height:16px;
  }
  .media__all{
    display:none;
  }
  .media__800{
    display:initial;
    color:blue;
  }
}

@media (min-width: 1024px){
  iframe{
    width:90vw;
    height:50vw;
  }
  h1{
    font-size:3rem;
    line-height:78px;
  }
  h2{
    font-size:2rem;
  }
  .header-nav-bar__list__item a{
    font-size:1rem;
  }
  .header-text__description{
    font-size:1rem;
    margin-bottom:65px;
  }
  .header-button__container{
    font-size:1vw;
    width:12vw;
    height:5vw;
  }
  .header__container{
    padding-top:79px;
    padding-bottom:141px;
  }
  .header-nav-bar__container{
    padding-bottom:162px;
  }
  .header-title__primary{
    margin-bottom:60px;
  }
  .main-text-content__description{
    font-size:1rem;
  }
  .main-about-me__container{
    padding:112px 0 100px 0;
  }
  .main-text-content__title{
    margin-bottom:50px;
  }
  .main-projects__container{
    padding:100px 0;
  }
  .main-projects__item{
    padding:10px 0 10px 70px;
  }
  .job__text{
    padding-bottom:50px;
  }
  .footer__container{
    padding:50px 33% 50px 33%;
  }
  .footer__text__author{
    font-size:1rem;
    line-height:24px;
  }
  .footer__text__copyright{
    font-size:0.8125rem;
    line-height:20px;
  }
  .media__all{
    display:none;
  }
  .media__1024{
    display:initial;
    color:green;
  }
}

@media (max-width: 374px){
  iframe{
    width:90vw;
    height:50vw;
  }
  h1{
    font-size:1.2rem;
    line-height:31.2px;
  }
  h2{
    font-size:0.8rem;
  }
  .header-nav-bar__list__item a{
    font-size:0.4rem;
  }
  .header-text__description{
    font-size:0.4rem;
    margin-bottom:26px;
  }
  .header-button__container{
    font-size:0.4vw;
    width:4.8vw;
    height:2vw;
  }
  .header__container{
    padding-top:31.6px;
    padding-bottom:56.4px;
  }
  .header-nav-bar__container{
    padding-bottom:64.8px;
  }
  .header-title__primary{
    margin-bottom:24px;
  }
  .main-text-content__description{
    font-size:0.4rem;
  }
  .main-about-me__container{
    padding:44.8px 0 40px 0;
  }
  .main-text-content__title{
    margin-bottom:20px;
  }
  .main-projects__container{
    padding:40px 0;
  }
  .main-projects__item{
    padding:4px 0 4px 70px;
  }
  .job__text{
    padding-bottom:20px;
  }
  .footer__container{
    padding:20px 33% 20px 33%;
  }
  .footer__text__author{
    font-size:0.4rem;
    line-height:9.6px;
  }
  .footer__text__copyright{
    font-size:0.325rem;
    line-height:8px;
  }
  .media__all{
    display:none;
  }
  .media__0{
    display:initial;
    color:red;
  }
}